<div class="container">

	<%= render 'books/error_explanation', obj: @book %

	<h2>Editing Book</h2>
	<%= form_for(@book) do |f| %>
	<label>Title</label>
	<%= f.text_field :title, class: 'field'; %>
	<br>
	<label>Opinion</label>
	<%= f.text_area :body, class: 'field'; %>
	<br>
	<%= f.submit "Update Book", class: 'btn btn-default' %>
	<% end %>
	<%= link_to "Show", book_path(@book) %>
	|
	<%= link_to "Back", books_path %>

</div>