<% error_flag_title = false %>
<% error_flag_body = false %>

<h1 class="test">Books</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Body</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<% @books.each do |book| %>
	<tr>
		<td>
			<%= book.title %>
		</td>
		<td>
			<%= book.body %>
		</td>
		<td>
			<%= link_to "Show", book_path(book) %>
		</td>
		<td>
			<%= link_to "Edit", edit_book_path(book) %>
		</td>
		<td>
			<%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %>
		</td>
	</tr>
	<% end %>
</table>

<h2>New book</h2>

<% if @book.errors.any? %>
<div class="error_explanation">
	<p><%= "#{@book.errors.count} errors prohibited this book from being saved:" %></p>

	<ul>
		<% @book.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% if message == "Title can't be blank" %>
		<% error_flag_title = true %>
		<% elsif message == "Body can't be blank" %>
		<% error_flag_body = true %>
		<% end %>
		<% end %>
	</ul>
</div>
<% end %>

<%= form_for(@book, url: books_path(@book)) do |f| %>
<% if error_flag_title == true %>
<div class="field_with_errors">
	<% end %>

	<div class="field">
		<label>Title</label>
		<%= f.text_field :title %>
	</div>

	<% if error_flag_title == true %>
</div>
<% end %>


<% if error_flag_body == true %>
<div class="field_with_errors">
	<% end %>

	<div class="field">
		<label>Body</label>
		<%= f.text_area :body %>
	</div>

	<% if error_flag_body == true %>
</div>
<% end %>

<div class="actions">
	<%= f.submit "Create Book" %>
</div>

<% end %>
